body{
    /* 6 */
    color:#19242e;
    background-color:rgb(243, 237, 231);
    /* 7 */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading_element{
    /* 9, where is 8? */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 0;              
    padding: 0;
}


ul.navbar {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    background-color: #b8c2ca;

    display: flex;
    justify-content: space-evenly; 
    align-items: center;

    position: absolute;  
    top: 6em;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}


ul.navbar li {
    position: relative;     
}

ul.navbar li a {
    display: block;
    padding: 2em 9em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul.navbar li a:hover {
    background-color: #555;
}


.dropdown-content{
    display: none;             
    position: absolute;        
    top: 100%;                 
    left: 0;
    background-color: #222;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    z-index: 1;  
}

.dropdown-content a {
    display: block;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.paragraph{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column; 
    align-items: center;    
    margin: 0;              
    padding: 7em;
}

/* 13. media types */
@media all {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
    .navbar {
        display: none;  
    }
}
